<a class="pack-card" href="">
    <header>
        <mend:slot />
    </header>
    <img src="{{ .img }}" width="384" height="216" alt="thumbnail" />
    <footer>
        <div>
            <h3>Smithed in 2025</h3>
        </div>
        <section class="metadata">
            <mend:include src="icons/user.svg" />
            <span>by TheNuclearNexus_</span>
            <span class="w-bullet a-hide-min"></span>
            <mend:include src="icons/clock.svg" />
            <span>12 days ago</span>
        </section>
    </footer>
</a>
