<a class="pack-card" href="">
    <header>
        <mend:slot />
    </header>
    <img src="/assets/images/pack_1_thumb.jpg" width="382" height="218" alt="thumbnail" />
    <footer>
        <section>
            <span>1.18 — 1.21.1</span>
            <span class="bullet"></span>
            <span>Technology</span>
        </section>
        <div>
            <h3>My cool datapack</h3>
            <p>
                Updates the vanilla dungeons with new builds and added locate commands
            </p>
        </div>
        <section>
            <mend:include src="icons/heart-outline.svg" @class="rating-positive" />
            <span class="rating-positive">Mostly positive (51)</span>
            <span class="bullet"></span>
            <mend:include src="icons/download.svg" />
            <span>1.6K</span>
            <span class="bullet"></span>
            <mend:include src="icons/refresh.svg" />
            <span>1 month ago</span>
        </section>
    </footer>
</a>
