<mend:extend src="std:root">

    <head>
        <mend:include src="std:meta" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link rel="stylesheet" href="/assets/styles.min.css?checksum={{ ^.checksum }}" />
        <title>Smithed™ Redesign</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Rubik:wght@700&display=swap"
            rel="stylesheet">
    </head>

    <body>
        <header>
            <a href="/" class="no-padding logotype">
                <mend:include src="logo.svg" :size="32" />
                <h2>Smithed</h2>
            </a>
            <a href="/" class="w-button">
                Browse
            </a>
            <a href="/" class="w-button">
                Articles
            </a>
            <a href="/" class="w-button">
                Weld
                <mend:include src="icons/popout.svg" />
            </a>
            <input type="text" placeholder="Search..." />
            <a href="/" class="w-button">
                Inbox
                <mend:include src="icons/notification.svg" />
            </a>
            <button class="w-button no-padding">
                <img src="/assets/images/bbfh.jpg" width="32" height="32" alt="logo" />
                BubbleFish
                <mend:include src="icons/angle_down.svg" />
            </button>
        </header>

        <mend:slot />

        <footer>
            <section>
                <div>
                    <section>
                        <h2>ABOUT</h2>
                        <a href="">About Smithed</a>
                        <a href="">How to Contribute</a>
                        <a href="">Donate</a>
                    </section>
                </div>
                <section>
                    <h2>COMMUNITY</h2>
                    <a href="">Discord</a>
                    <a href="">Guidelines</a>
                    <a href="">Wiki</a>
                </section>
                <div>
                    <section>
                        <h2>LEGAL</h2>
                        <a href="">Terms of Use</a>
                        <a href="">Privacy Policy</a>
                        <a href="">Cookies</a>
                    </section>
                </div>
            </section>
            <div>
                <b>Copyright © 2025 Smithed</b>
                <span>Not an official Minecraft product. Not approved by or associated with Mojang Studios</span>
            </div>
        </footer>
    </body>

</mend:extend>
