.a-hide-default {
  display: none;
}

@media only screen and (max-width: (@screen-max + 4rem)) {
  .a-hide-widescreen {
    display: none;
  }

  .a-show-widescreen {
    display: flex;
  }

  .w-menu[data-prefer="right"] {
    right: @spacing-h;

    &::before {
      left: auto;
      right: @spacing-header;
      transform: inherit;
    }
  }

  .l-with-sidebar {
    flex-direction: column;
    align-items: stretch;

    .c-tabs {
      width: 100%;
    }

    aside {
      flex-direction: row;
      border-radius: 0 0 @radius-block @radius-block !important;
      border: none !important;

      .w-button {
        flex-basis: 100%;
        justify-content: center;

        span {
          flex: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: (@screen-content + 4rem)) {
  .a-hide-landscape {
    display: none;
  }

  .a-show-landscape {
    display: initial;
  }

  .l-cards {
    grid-template-columns: auto;
  }

  .l-login {
    padding: 0;
  }

  .grid-by-three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: (@screen-portrait + 4rem)) {
  .a-hide-portrait {
    display: none;
  }

  .a-show-portrait {
    display: initial;
  }

  .l-cards {
    grid-template-columns: auto;
  }

  .grid-by-two {
    grid-template-columns: repeat(1, 1fr);
  }

  .l-row {
    flex-direction: column;
    align-items: flex-start;
  }

  body>header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
      "empty logotype logotype account"
      "browse articles weld inbox"
      "search search search search";
  }

  body>footer>div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "about"
      "community"
      "legal";
  }
}

@media only screen and (max-width: (@min-width + 4rem)) {
  .a-hide-min {
    display: none;
  }

  .a-show-min {
    display: initial;
  }

  .grid-by-three {
    grid-template-columns: repeat(1, 1fr);
  }

  body>header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logotype account"
      "browse articles"
      "weld inbox"
      "search search";
  }

  .pack-card .metadata {
    display: grid;
    grid-template-columns: 1rem auto;
  }
}
