@keyframes pack-label {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.pack-card {
  .reset();
  .bordered();
  .interactable-block();
  position: relative;
  background-color: var(--theme-card);
  border-radius: @radius-block;

  &>header {
    position: absolute;
    top: -1 * @spacing-h;
    right: -1 * @spacing-v;

    &>div {
      .flex-row();
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      padding: 0.375rem 0.75rem;
      border-radius: 1rem;
      font-size: 0.75rem;
      border: 0.25rem solid var(--theme-background);
      transform: rotate(5deg);
      animation: 500ms ease-in-out 200ms infinite alternate pack-label;

      svg {
        width: 0.75rem;
        height: 0.75rem;
      }

      &.label-trending {
        background-color: var(--palette-disturbing);
      }

      &.label-new {
        background-color: var(--palette-accent);
      }
    }
  }

  &>img {
    border-radius: @radius-block @radius-block 0 0;
    border: 4px solid var(--theme-background);
  }

  &>footer {
    .flex-col();
    align-items: stretch;
    gap: @spacing-v;
    padding: @spacing-v @spacing-h @spacing-h @spacing-h;

    &>section {
      --color: var(--theme-inactive);
      .flex-row();
      align-items: center;
      gap: @spacing-v;
      font-weight: 500;
      font-size: 0.75rem;
      color: var(--color);

      svg {
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    &>div {
      .flex-col();
      align-items: stretch;
      gap: 0.25rem;
    }
  }
}

.landing-card {
  .reset();
  .bordered();
  .flex-col();
  .interactable-block();
  align-items: stretch;
  gap: @spacing-v;
  background-color: var(--theme-card);
  border-radius: @radius-block;
  padding: @spacing-h;

  header {
    .flex-row();
    gap: @spacing-h;

    span {
      .flex-row();
      align-items: center;
      gap: @spacing-v;
      background-color: var(--theme-card);
      padding: @spacing-v @spacing-h;
      border-radius: @radius-block;
      font-weight: 400;
    }
  }
}

.theme-card {
  .flex-col();
  .bordered();
  align-items: stretch;
  background-color: var(--theme-card);
  border-radius: @radius-field;
  overflow: hidden;

  header {
    .flex-row();
    .interactable-text();
    gap: @spacing-h;
    align-items: center;
    padding: @spacing-v @spacing-h;
    border-bottom: 1px solid var(--theme-border);

    label {
      .flex();
    }

    &:hover {
      background-color: var(--theme-hover);
    }

    &:has(button) {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: @spacing-v;
    }
  }

  svg {
    .flex();
    width: 100%;
  }
}

.theme-card-placeholder {
  .flex-row();
  .flex-center();
  .reset();
  background-color: var(--theme-card);
  border-radius: @radius-field;
  height: 100%;
  min-height: 8rem;
  border: 2px dashed var(--theme-inactive);
  color: var(--theme-inactive);
  cursor: pointer;

  &:hover {
    background-color: var(--theme-hover);
  }
}

.analytics-card {
  .flex-col();
  align-items: stretch;
  gap: 0.25rem;

  strong {
    margin-bottom: @spacing-h;
    font-weight: 500;
  }
}

.gallery_image {
  .flex-col();
  align-items: center;
  gap: @spacing-v;

  img {
    width: 100%;
    border-radius: @radius-field;
    border: 2px solid var(--theme-shade);
  }

  figcaption {
    font-size: 0.75rem;
    font-weight: 500;
  }
}

.version {
  .reset();
  cursor: pointer;
  border-radius: @radius-field;

  summary {
    .reset();
    .flex-row();
    gap: @spacing-h;
    align-items: center;
  }

  footer {
    padding: @spacing-h;
    line-height: 1.25;

    ul {
      padding-top: @spacing-v;
      padding-left: @spacing-h;
    }
  }

  &:hover {
    background-color: var(--theme-card);
  }

  &[open] {
    .indicator {
      transform: scaleY(-1);
    }
  }
}

.inbox-notification {
  .flex-col();
  .bordered();
  align-items: stretch;
  background-color: var(--theme-card);
  padding: @spacing-h;
  border-radius: @radius-block;
  gap: @spacing-h;

  header {
    .flex-row();
    align-items: center;
    gap: @spacing-v;

    strong {
      .font-title();
      font-weight: 700;
    }

    &>div {
      .flex-row();
      align-items: flex-end;

      img {
        border-radius: 0.25rem;
      }

      &>div {
        background-color: var(--theme-shade);
        padding: 0.25rem;
        border-radius: 0.25rem;
        margin-left: -0.75rem;
        margin-bottom: -0.25rem;

        svg {
          min-width: 0.75rem;
          min-height: 0.75rem;
          max-width: 0.75rem;
          max-height: 0.75rem;
        }
      }
    }
  }

  footer {
    .flex-col();
    align-items: stretch;

    &>div {
      .flex-row();
      align-items: center;
      gap: @spacing-v;
    }
  }
}

#browse-section {
  .flex-col();
  align-items: stretch;
  gap: @spacing-header;

  nav {
    .flex-row();
    align-items: center;
    justify-content: center;
    gap: @spacing-h;

    a {
      .interactable-block();
      padding: @spacing-v @spacing-h;
      border-radius: @radius-block;
      color: inherit;
      text-decoration: none;

      &.current,
      &:hover,
      &:focus {
        background-color: var(--theme-hover);
      }
    }
  }

  &>header {
    display: grid;
    grid-template-columns: auto max-content 2rem;
    grid-template-rows: auto auto;
    gap: @spacing-h;
    grid-template-areas:
      "search sort order"
      "filters filters filters";

    &>footer {
      .flex-row();
      gap: @spacing-h;
      flex-wrap: wrap;
    }
  }
}
