@import "./reset.less";
@import "./widgets.less";

:root {
    --theme-shade: #000000;
    --theme-background: #121212;
    --theme-card: rgb(255 255 255 / 0.06);
    --theme-hover: rgb(255 255 255 / 0.12);
    --theme-inactive: rgb(255 255 255 / 0.33);
    --theme-border: #424242;
    --theme-cavity: rgb(0 0 0 / 0.25);
    --theme-foreground: #ffffff;

    --palette-accent: #1b48c4;
    --palette-accent-light: #1faeff;
    --palette-secondary: #b000bf;
    --palette-secondary-light: #b000bf;
    --palette-warning: #da9d00;
    --palette-warning-light: #da9d00;
    --palette-success: #008f48;
    --palette-success-light: #008f48;
    --palette-disturbing: #c41b48;
    --palette-disturbing-light: #ff4f4f;

    --size-screen-max: 70rem;
    --size-screen-min: 24rem;
    --size-screen-content: 50rem;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.flex-column-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.reset {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.focus {
    outline: 2px solid var(--theme-foreground);
}

.border {
    border: 1px solid var(--theme-border);
}

@keyframes labels {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    .reset();
    .flex-column-center();
    gap: 4rem;

    background-color: var(--theme-background);
    color: var(--theme-foreground);
    width: 100%;
    text-rendering: optimizeLegibility;
    min-width: 28rem;

    font-family: Lexend, system-ui, -apple-system, BlinkmacSystemFont, sans-serif;
    font-weight: 300;

    &>header {
        width: min(100% - 4rem, var(--size-screen-max));
    }

    &>section {
        .flex-column-center();
        width: min(100% - 4rem, var(--size-screen-content));

        &.separator {
            flex-direction: row;
            gap: 1rem;
        }
    }

    &>header {
        .flex-row-center();
        gap: 1rem;
        padding: 0.5rem 0;

        &>a {
            gap: 0.5rem;
        }

        &>input {
            flex: 1;
        }

        &>button {
            border-radius: 0.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &>footer {
        .flex-column-center();
        gap: 4rem;
        background-color: var(--theme-shade);
        width: 100%;
        padding: 4rem 0;

        &>section {
            .flex-row-center();
            width: min(100% - 4rem, var(--size-screen-content));

            section {
                .flex-column-center();
                gap: 0.5rem;
                flex-grow: 1;

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        &>div {
            .flex-column-center();
            gap: 0.5rem;

            span {
                color: var(--theme-border);
            }
        }
    }
}

svg {
    min-width: 1rem;
    aspect-ratio: 1 / 1;
}

h1,
h2,
h3,
h4 {
    font-family: Rubik, system-ui, -apple-system, BlinkmacSystemFont, sans-serif;
    font-weight: 700;
    line-height: 1;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

img {
    border-radius: 0.5rem;
}

input[type="text"] {
    .reset();
    background-color: var(--theme-card);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 400;
    min-width: 10rem;

    &::placeholder {
        opacity: 0.5;
    }

    &:focus {
        .focus();
    }
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.25;
}

b {
    font-weight: 600;
}

hr {
    .reset();
    flex: 1;
    min-height: 2px;
    background-color: var(--theme-border);

    &.vertical {
        background-color: var(--theme-foreground);
        opacity: 0.33;
        min-width: 2px;
        min-height: 1rem;
    }
}

#landing-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;

    article {
        .flex-column-stretch();
        .border();
        gap: 1rem;
        border-radius: 1rem;
        background-color: var(--theme-card);
        padding: 1rem;

        header {
            .flex-row-center();
            gap: 1rem;

            &>.w-button {
                margin-left: auto;
            }

            &>svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.pack-cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.pack-card {
    .border();
    transition: 100ms background-color;
    position: relative;
    background-color: var(--theme-card);
    text-decoration: none;
    color: inherit;
    border-radius: 1rem;
    cursor: pointer;
    max-width: 24rem;

    &>header {
        position: absolute;
        top: -1rem;
        right: -0.5rem;

        &>div {
            .flex-row-center();
            gap: 0.5rem;
            font-weight: 500;
            padding: 0.375rem 0.75rem;
            border-radius: 1rem;
            font-size: 0.75rem;
            border: 0.25rem solid var(--theme-background);
            transform: rotate(5deg);
            animation: 500ms ease-in-out 200ms infinite alternate labels;

            svg {
                width: 0.75rem;
                height: 0.75rem;
            }

            &.label-trending {
                background-color: var(--palette-disturbing);
            }

            &.label-new {
                background-color: var(--palette-accent);
            }
        }
    }

    &>img {
        border-radius: 1rem 1rem 0 0;
        border: 0.25rem solid var(--theme-background);
        width: 100%;
        aspect-ratio: 16 /9;
    }

    &>footer {
        .flex-column-stretch();
        gap: 0.5rem;
        padding: 0.5rem 1rem 1rem 1rem;

        .bullet {
            width: 0.25rem;
            height: 0.25rem;
            border-radius: 1rem;
            background-color: var(--theme-inactive);
        }

        &>section {
            .flex-row-center();
            gap: 0.5rem;
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--theme-inactive);

            svg {
                width: 0.75rem;
                height: 0.75rem;
            }
        }

        &>div {
            .flex-column-stretch();
            gap: 0.25rem;
        }
    }

    &:hover {
        background-color: var(--theme-hover);
        text-decoration: none;

        h3 {
            text-decoration: underline;
        }
    }
}

.no-padding {
    padding: 0;
}

.centered {
    text-align: center;
}

.rating-positive {
    color: var(--palette-success);
}

@media only screen and (max-width: 70rem) {
    .optional-wide {
        display: none;
    }
}

@media only screen and (max-width: 50rem) {
    .optional-wide {
        display: initial;
    }

    .optional-mobile {
        display: none;
    }

    body>header {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
            "logotype logotype logotype logotype"
            "a b c d"
            "search search search search";

        .logotype {
            grid-area: logotype;
        }

        .w-button:nth-child(0) {
            grid-area: a;
        }

        .w-button:nth-child(1) {
            grid-area: b;
        }

        .w-button:nth-child(2) {
            grid-area: c;
        }

        .w-button:nth-child(3) {
            grid-area: d;
        }

        input {
            grid-area: search;
        }

        button {
            top: 0.5rem;
            right: 1rem;
            position: absolute;
        }
    }

    #landing-cards {
        grid-template-columns: auto;
    }

    .pack-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body>footer {
        &>section {
            flex-direction: column;
            gap: 4rem;
        }

        &>div {
            max-width: calc(100vw - 4rem);
            text-align: center;
        }
    }

    br {
        display: none;
    }
}
