@import "./reset.less";
@import "./widgets.less";
@import "./containers.less";
@import "./layout.less";
@import "./misc.less";

@screen-max: 70rem;
@screen-content: 50rem;
@screen-portrait: 40rem;
@min-width: 24rem;

@spacing-v: 0.5rem;
@spacing-touch: 0.75rem;
@spacing-h: 1rem;
@spacing-header: 2rem;
@spacing-content: 4rem;

@radius-field: 0.5rem;
@radius-block: 1rem;

:root {
  --theme-shade: #000000;
  --theme-background: #121212;
  --theme-card: rgb(255 255 255 / 0.06);
  --theme-hover: rgb(255 255 255 / 0.12);
  --theme-inactive: rgb(255 255 255 / 0.33);
  --theme-border: #424242;
  --theme-cavity: rgb(0 0 0 / 0.25);
  --theme-foreground: #ffffff;

  --palette-accent: #1b48c4;
  --palette-accent-text: #1faeff;
  --palette-secondary: #b000bf;
  --palette-secondary-text: #b000bf;
  --palette-warning: #da9d00;
  --palette-warning-text: #FFC940;
  --palette-warning-transparent: rgba(218, 157, 0, 0.16);
  --palette-success: #008f48;
  --palette-success-text: #008f48;
  --palette-disturbing: #c41b48;
  --palette-disturbing-text: #ff4f4f;
}

/* --- MIXINS --- */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.reset {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
}

.font-main {
  font-family: Lexend, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-title {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.width-max {
  width: min(100vw - 4rem, @screen-max);
}

.width-content {
  width: min(100vw - 4rem, @screen-content);
}

.interactable-text {
  cursor: poiner;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus {
    color: var(--palette-accent-text);
    outline: none;
  }
}

.interactable-block {
  transition: 100ms background-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--theme-hover);

    h1,
    h2,
    h3,
    h4 {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: 2px solid var(--theme-foreground);
  }
}

.bordered {
  border: 1px solid var(--theme-border);
}

/* --- GLOBAL --- */

html {
  width: 100%;
  height: 100%;
}

body {
  .reset();
  .font-main();
  .flex-col();
  align-items: center;
  gap: @spacing-content;
  font-weight: 300;
  min-height: 100vh;

  background-color: var(--theme-background);
  color: var(--theme-foreground);

  &>header {
    .flex-row();
    .width-max();
    align-items: center;
    gap: @spacing-header;
    font-weight: 400;
    padding: @spacing-v 0;
  }

  &>main {
    .flex-col();
    .width-content();
    align-items: center;
    gap: @spacing-content;

    &.wide {
      .width-max();
    }
  }

  &>footer {
    .flex-col();
    align-items: center;
    width: 100%;
    background-color: var(--theme-shade);
    padding: @spacing-content @spacing-header;
    gap: @spacing-content;

    &>div {
      width: min(100% - 4rem, @screen-content);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: @spacing-content;
      grid-auto-flow: row;
      grid-template-areas:
        "about community legal";
    }

    section {
      .flex-col();
      align-items: center;
      gap: @spacing-h;

      a {
        .interactable-text();
        color: inherit;
        text-decoration: none;

        &:focus {
          color: var(--palette-accent-text);
        }
      }
    }

    footer {
      .flex-col();
      align-items: center;
      font-weight: 400;
      text-align: center;
      gap: @spacing-v;

      p {
        color: var(--theme-inactive);
      }
    }
  }
}

h1,
h2,
h3,
h4 {
  .font-title();
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.75rem;
}

hr {
  .reset();
  .flex();
  min-height: 2px;
  max-height: 2px;
  background-color: var(--theme-hover);

  &.vertical {
    background-color: var(--theme-foreground);
    opacity: 0.33;
    min-width: 2px;
    max-width: 2px;
    min-height: 1rem;
    max-height: 1rem;
  }
}

p {
  line-height: 1.25;
}

svg {
  min-width: 1rem;
  min-height: 1rem;
}

.flex {
  flex: 1;
}

.centered {
  text-align: center;
}

.rating-positive {
  color: var(--palette-success) !important;
}

.rating-negative {
  color: var(--palette-disturbing-text) !important;
}

.fill {
  margin: auto;
}

.grid-by-two,
.grid-by-three {
  display: grid;
  align-items: flex-start;
  gap: @spacing-h;
}

.grid-by-two {
  grid-template-columns: repeat(2, 1fr);
}

.grid-by-three {
  grid-template-columns: repeat(3, 1fr);
}

.items-last {
  .flex-row();
  align-items: center;
  gap: @spacing-h;
  justify-content: flex-end;
}

.heading {
  .flex-row();
  align-items: center;
  gap: @spacing-h;
}

.banner {
  border-radius: @radius-block;
}

img.logo {
  border-radius: @radius-field;
}

em {
  font-style: normal;
  color: var(--theme-inactive);
  font-weight: 400;

  &.note {
    font-size: 0.75rem;
  }
}

.full-width {
  width: 100%;
}

dialog {
  .reset();
  .flex-col();
  .bordered();
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: @radius-block;
  align-items: stretch;
  background-color: var(--theme-background);
  color: var(--theme-foreground);
  width: clamp(10rem, 32rem, 100vw - 2rem);

  &>header {
    .flex-row();
    background-color: var(--theme-card);
    border-bottom: 1px solid var(--theme-border);
    padding: @spacing-v @spacing-h;
    gap: @spacing-h;
    align-items: center;
    font-weight: 500;
  }

  &>section {
    .flex-col();
    gap: @spacing-h;
    padding: @spacing-h;
  }

  &>footer {
    .flex-row();
    gap: @spacing-h;
    padding: @spacing-h;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

#global-warning {
  .flex-row();
  align-items: center;
  justify-content: center;
  gap: @spacing-h;
  padding: @spacing-v @spacing-h;
  width: 100%;
  background-color: var(--palette-warning-transparent);
  border-top: 2px solid var(--palette-warning);
  border-bottom: 2px solid var(--palette-warning);
  color: var(--palette-warning-text);
  font-weight: 400;
  margin-top: -4rem;
}

@import "./adaptive.less";
