/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add [[default]] line-height */
  line-height: 1;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
.w-logotype {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: poiner;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.w-logotype:hover,
.w-logotype:focus {
  text-decoration: underline;
}
.w-logotype:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.w-header-link {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: poiner;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.w-header-link:hover,
.w-header-link:focus {
  text-decoration: underline;
}
.w-header-link:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.w-menu {
  border: 1px solid var(--theme-border);
  display: flex;
  flex-direction: column;
  transition: 200ms opacity;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--theme-shade);
  top: 3.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  z-index: 69;
}
.w-menu.list {
  padding: 1rem;
  gap: 0.5rem;
  color: var(--theme-inactive);
  font-weight: 500;
  line-height: 1.25;
}
.w-menu.list b {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  color: var(--theme-foreground);
}
.w-menu.list em {
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  color: var(--theme-foreground);
  font-weight: 700;
}
.w-menu.buttons {
  gap: 0.25rem;
}
.w-menu::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  top: -0.75rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 0.75rem solid var(--theme-border);
  z-index: -1;
}
.w-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
  min-width: 5rem;
}
.w-input > svg:first-of-type {
  position: absolute;
  left: 1rem;
}
.w-input > svg:last-of-type {
  position: absolute;
  right: 1rem;
}
.w-input input {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  flex: 1;
  transition: 100ms background-color;
  cursor: pointer;
  background-color: var(--theme-card);
  padding: 0.5rem 1rem 0.5rem 3rem;
  border-radius: 0.5rem;
  font-weight: 400;
  min-width: 5rem;
  height: 2.25rem;
}
.w-input input:hover,
.w-input input:focus {
  background-color: var(--theme-hover);
}
.w-input input:hover h1,
.w-input input:focus h1,
.w-input input:hover h2,
.w-input input:focus h2,
.w-input input:hover h3,
.w-input input:focus h3,
.w-input input:hover h4,
.w-input input:focus h4 {
  text-decoration: underline;
}
.w-input input:focus {
  outline: 2px solid var(--theme-foreground);
}
.w-input input::placeholder {
  opacity: 0.5;
}
.w-input:has(input:focus) .w-menu {
  visibility: inherit;
  opacity: 1;
}
.w-options {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  font-weight: 400;
}
.w-options select {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  flex: 1;
  transition: 100ms background-color;
  cursor: pointer;
  background-color: var(--theme-card);
  padding: 0.5rem 2rem 0.5rem 3rem;
  border-radius: 0.5rem;
  font-weight: 400;
  min-width: 5rem;
  height: 2rem;
  line-height: 1.25;
  appearance: none;
}
.w-options select:hover,
.w-options select:focus {
  background-color: var(--theme-hover);
}
.w-options select:hover h1,
.w-options select:focus h1,
.w-options select:hover h2,
.w-options select:focus h2,
.w-options select:hover h3,
.w-options select:focus h3,
.w-options select:hover h4,
.w-options select:focus h4 {
  text-decoration: underline;
}
.w-options select:focus {
  outline: 2px solid var(--theme-foreground);
}
.w-button {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-weight: 400;
  border-radius: 1rem;
  align-items: center;
  text-wrap: nowrap;
  transition: 100ms background-color;
  cursor: pointer;
}
.w-button.align-left span {
  flex: 1;
  text-align: left;
}
.w-button.align-center {
  justify-content: center;
}
.w-button.disturbing {
  color: var(--palette-disturbing);
}
.w-button.disturbing hr {
  background-color: var(--palette-disturbing);
}
.w-button.accent {
  background-color: var(--palette-accent);
}
.w-button.regular {
  background-color: var(--theme-card);
}
.w-button.small {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.w-button.filter {
  background-color: var(--theme-card);
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
}
.w-button.filter svg {
  --size: 0.75rem;
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
}
.w-button.tab {
  background-color: transparent;
  padding: 0.75rem;
  border-radius: 0;
  border-bottom: 1px solid var(--theme-border);
}
.w-button.tab:first-of-type {
  border-radius: 1rem 0 0 0;
}
.w-button.tab:last-of-type {
  border-radius: 0 1rem 0 0;
}
.w-button.tab[data-selected="true"] {
  background-color: var(--theme-card);
  border-left: 1px solid var(--theme-border);
  border-right: 1px solid var(--theme-border);
  border-bottom: none;
}
.w-button.tab[data-selected="true"]:first-of-type {
  border-left: none;
}
.w-button.tab[data-selected="true"]:last-of-type {
  border-right: none;
}
.w-button.tab:focus {
  outline: none;
  color: var(--palette-accent-text);
}
.w-button.tab:focus hr {
  background-color: var(--palette-accent-text);
}
.w-button.close {
  background-color: transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.w-button.close:focus {
  outline: none;
}
.w-button.dialog {
  border: 1px solid var(--theme-border);
  background-color: var(--theme-card);
}
.w-button.dialog:first-of-type svg {
  color: var(--palette-disturbing);
}
.w-button.dialog:last-of-type svg {
  color: var(--palette-success);
}
.w-button.simple {
  background-color: transparent;
  padding: 0.5rem;
}
.w-button.toggled {
  background-color: var(--theme-foreground);
  color: var(--theme-shade);
}
.w-button.toggled hr {
  background-color: var(--theme-shade);
}
.w-button.toggled:focus,
.w-button.toggled:hover {
  color: var(--theme-foreground);
}
.w-button:hover,
.w-button:focus {
  background-color: var(--theme-hover);
}
.w-button:hover h1,
.w-button:focus h1,
.w-button:hover h2,
.w-button:focus h2,
.w-button:hover h3,
.w-button:focus h3,
.w-button:hover h4,
.w-button:focus h4 {
  text-decoration: underline;
}
.w-button:focus {
  outline: 2px solid var(--theme-foreground);
}
.w-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-dropdown .indicator {
  transition: 200ms transform;
}
.w-dropdown.open .w-menu {
  visibility: inherit;
  opacity: 1;
}
.w-dropdown.open .indicator {
  transform: scaleY(-1);
}
.w-header-dropdown {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: poiner;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 1rem;
}
.w-header-dropdown:hover,
.w-header-dropdown:focus {
  text-decoration: underline;
}
.w-header-dropdown:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.w-header-dropdown img {
  border-radius: 0.5rem;
}
.w-bullet {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--color, var(--theme-foreground));
  border-radius: 100%;
}
.w-item {
  display: inline-block;
  width: 1rem;
  height: 2px;
  background-color: var(--color, var(--theme-foreground));
  opacity: 0.33;
}
.w-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.w-field header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.w-color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--theme-card);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  gap: 1rem;
}
.w-color-picker input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1rem;
  width: 3rem;
  border: none;
  outline: 2px solid var(--theme-shade);
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: auto;
  color: inherit;
}
.w-color-picker input::-webkit-color-swatch,
.w-color-picker input::-moz-color-swatch {
  border: none;
}
.w-link {
  color: var(--palette-accent-text);
}
.w-link:focus {
  color: var(--palette-secondary-text);
  outline: none;
  border: none;
}
.w-badge {
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.w-badge svg {
  --size: 0.75rem;
  min-width: var(--size);
  max-width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
}
.w-badge.badge-smithed {
  background-color: var(--palette-accent);
}
.w-badge.badge-lang {
  background-color: var(--palette-success);
}
.c-tabs {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  width: min(96vw, 50rem);
  align-items: stretch;
  border-radius: 1rem;
}
.c-tabs > header {
  display: flex;
  flex-direction: row;
}
.c-tabs > header .w-button {
  flex-basis: 100%;
}
.c-tabs > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  background-color: var(--theme-card);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}
.l-row,
.l-row > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.l-row {
  width: 100%;
}
.l-legend {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.l-with-sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}
.l-with-sidebar aside.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.l-with-sidebar aside.buttons .w-button {
  border: 1px solid var(--theme-border);
}
.l-with-sidebar aside.stats,
.l-with-sidebar aside.browse {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  background-color: var(--theme-card);
  align-items: stretch;
  border-radius: 1rem;
  padding: 0.5rem 0;
}
.l-with-sidebar aside.stats > div,
.l-with-sidebar aside.browse > div,
.l-with-sidebar aside.stats > a,
.l-with-sidebar aside.browse > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.l-with-sidebar aside.stats > a,
.l-with-sidebar aside.browse > a {
  transition: 100ms background-color;
  cursor: pointer;
  cursor: poiner;
  text-decoration: none;
  color: inherit;
}
.l-with-sidebar aside.stats > a:hover,
.l-with-sidebar aside.browse > a:hover,
.l-with-sidebar aside.stats > a:focus,
.l-with-sidebar aside.browse > a:focus {
  background-color: var(--theme-hover);
}
.l-with-sidebar aside.stats > a:hover h1,
.l-with-sidebar aside.browse > a:hover h1,
.l-with-sidebar aside.stats > a:focus h1,
.l-with-sidebar aside.browse > a:focus h1,
.l-with-sidebar aside.stats > a:hover h2,
.l-with-sidebar aside.browse > a:hover h2,
.l-with-sidebar aside.stats > a:focus h2,
.l-with-sidebar aside.browse > a:focus h2,
.l-with-sidebar aside.stats > a:hover h3,
.l-with-sidebar aside.browse > a:hover h3,
.l-with-sidebar aside.stats > a:focus h3,
.l-with-sidebar aside.browse > a:focus h3,
.l-with-sidebar aside.stats > a:hover h4,
.l-with-sidebar aside.browse > a:hover h4,
.l-with-sidebar aside.stats > a:focus h4,
.l-with-sidebar aside.browse > a:focus h4 {
  text-decoration: underline;
}
.l-with-sidebar aside.stats > a:focus,
.l-with-sidebar aside.browse > a:focus {
  outline: 2px solid var(--theme-foreground);
}
.l-with-sidebar aside.stats > a:hover,
.l-with-sidebar aside.browse > a:hover,
.l-with-sidebar aside.stats > a:focus,
.l-with-sidebar aside.browse > a:focus {
  text-decoration: underline;
}
.l-with-sidebar aside.stats > a:focus,
.l-with-sidebar aside.browse > a:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.l-with-sidebar aside.stats > a em,
.l-with-sidebar aside.browse > a em {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 10rem;
}
.l-with-sidebar aside.stats > hr,
.l-with-sidebar aside.browse > hr {
  margin: 0.5rem 0;
}
.l-with-sidebar aside.browse {
  font-weight: 400;
}
.l-with-sidebar aside.browse strong {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}
.l-with-sidebar aside.browse summary,
.l-with-sidebar aside.browse details > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.l-with-sidebar aside.browse div.with-badge {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.l-with-sidebar aside.browse details {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
.l-with-sidebar aside.browse details:hover {
  background-color: var(--theme-card);
}
.l-with-sidebar aside.browse details[open] .indicator {
  transform: scaleY(-1);
}
.l-bio {
  width: min(96vw, 50rem);
  border: 1px solid var(--theme-border);
  background-color: var(--theme-card);
  border-radius: 1rem;
  padding: 1rem;
  line-height: 1.25;
}
.l-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.l-separator {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.l-cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.l-cards > * {
  max-width: 24rem;
}
.l-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  --color: var(--theme-inactive);
}
.l-login > section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: stretch;
  gap: 1rem;
}
.l-login > section > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.l-login > section > section > a {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: poiner;
}
.l-login > section > section > a:hover,
.l-login > section > section > a:focus {
  text-decoration: underline;
}
.l-login > section > section > a:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.l-login > section > section > a.not-important {
  color: var(--theme-inactive);
}
.l-contributor {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  background-color: var(--theme-card);
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}
.l-contributor header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.l-contributor header img {
  border-radius: 1rem;
}
.l-contributor footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.l-inbox-message {
  display: flex;
  flex-direction: column;
  width: min(96vw, 50rem);
  align-items: stretch;
  gap: 1rem;
}
@keyframes pack-label {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
.pack-card {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--theme-border);
  transition: 100ms background-color;
  cursor: pointer;
  position: relative;
  background-color: var(--theme-card);
  border-radius: 1rem;
}
.pack-card:hover,
.pack-card:focus {
  background-color: var(--theme-hover);
}
.pack-card:hover h1,
.pack-card:focus h1,
.pack-card:hover h2,
.pack-card:focus h2,
.pack-card:hover h3,
.pack-card:focus h3,
.pack-card:hover h4,
.pack-card:focus h4 {
  text-decoration: underline;
}
.pack-card:focus {
  outline: 2px solid var(--theme-foreground);
}
.pack-card > header {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
}
.pack-card > header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  border: 0.25rem solid var(--theme-background);
  transform: rotate(5deg);
  animation: 500ms ease-in-out 200ms infinite alternate pack-label;
}
.pack-card > header > div svg {
  width: 0.75rem;
  height: 0.75rem;
}
.pack-card > header > div.label-trending {
  background-color: var(--palette-disturbing);
}
.pack-card > header > div.label-new {
  background-color: var(--palette-accent);
}
.pack-card > img {
  border-radius: 1rem 1rem 0 0;
  border: 4px solid var(--theme-background);
}
.pack-card > footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
.pack-card > footer > section {
  --color: var(--theme-inactive);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--color);
}
.pack-card > footer > section svg {
  width: 0.75rem;
  height: 0.75rem;
}
.pack-card > footer > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
}
.landing-card {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--theme-border);
  display: flex;
  flex-direction: column;
  transition: 100ms background-color;
  cursor: pointer;
  align-items: stretch;
  gap: 0.5rem;
  background-color: var(--theme-card);
  border-radius: 1rem;
  padding: 1rem;
}
.landing-card:hover,
.landing-card:focus {
  background-color: var(--theme-hover);
}
.landing-card:hover h1,
.landing-card:focus h1,
.landing-card:hover h2,
.landing-card:focus h2,
.landing-card:hover h3,
.landing-card:focus h3,
.landing-card:hover h4,
.landing-card:focus h4 {
  text-decoration: underline;
}
.landing-card:focus {
  outline: 2px solid var(--theme-foreground);
}
.landing-card header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.landing-card header span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--theme-card);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 400;
}
.theme-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  align-items: stretch;
  background-color: var(--theme-card);
  border-radius: 0.5rem;
  overflow: hidden;
}
.theme-card header {
  display: flex;
  flex-direction: row;
  cursor: poiner;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--theme-border);
}
.theme-card header:hover,
.theme-card header:focus {
  text-decoration: underline;
}
.theme-card header:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.theme-card header label {
  flex: 1;
}
.theme-card header:hover {
  background-color: var(--theme-hover);
}
.theme-card header:has(button) {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.5rem;
}
.theme-card svg {
  flex: 1;
  width: 100%;
}
.theme-card-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  background-color: var(--theme-card);
  border-radius: 0.5rem;
  height: 100%;
  min-height: 8rem;
  border: 2px dashed var(--theme-inactive);
  color: var(--theme-inactive);
  cursor: pointer;
}
.theme-card-placeholder:hover {
  background-color: var(--theme-hover);
}
.analytics-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
}
.analytics-card strong {
  margin-bottom: 1rem;
  font-weight: 500;
}
.gallery_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.gallery_image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 2px solid var(--theme-shade);
}
.gallery_image figcaption {
  font-size: 0.75rem;
  font-weight: 500;
}
.version {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
.version summary {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.version footer {
  padding: 1rem;
  line-height: 1.25;
}
.version footer ul {
  padding-top: 0.5rem;
  padding-left: 1rem;
}
.version:hover {
  background-color: var(--theme-card);
}
.version[open] .indicator {
  transform: scaleY(-1);
}
.inbox-notification {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  align-items: stretch;
  background-color: var(--theme-card);
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}
.inbox-notification header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.inbox-notification header strong {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
}
.inbox-notification header > div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.inbox-notification header > div img {
  border-radius: 0.25rem;
}
.inbox-notification header > div > div {
  background-color: var(--theme-shade);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-left: -0.75rem;
  margin-bottom: -0.25rem;
}
.inbox-notification header > div > div svg {
  min-width: 0.75rem;
  min-height: 0.75rem;
  max-width: 0.75rem;
  max-height: 0.75rem;
}
.inbox-notification footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.inbox-notification footer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#browse-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}
#browse-section nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#browse-section nav a {
  transition: 100ms background-color;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: inherit;
  text-decoration: none;
}
#browse-section nav a:hover,
#browse-section nav a:focus {
  background-color: var(--theme-hover);
}
#browse-section nav a:hover h1,
#browse-section nav a:focus h1,
#browse-section nav a:hover h2,
#browse-section nav a:focus h2,
#browse-section nav a:hover h3,
#browse-section nav a:focus h3,
#browse-section nav a:hover h4,
#browse-section nav a:focus h4 {
  text-decoration: underline;
}
#browse-section nav a:focus {
  outline: 2px solid var(--theme-foreground);
}
#browse-section nav a.current,
#browse-section nav a:hover,
#browse-section nav a:focus {
  background-color: var(--theme-hover);
}
#browse-section > header {
  display: grid;
  grid-template-columns: auto max-content 2rem;
  grid-template-rows: auto auto;
  gap: 1rem;
  grid-template-areas: "search sort order" "filters filters filters";
}
#browse-section > header > footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
:root {
  --theme-shade: #000000;
  --theme-background: #121212;
  --theme-card: rgba(255, 255, 255, 0.06);
  --theme-hover: rgba(255, 255, 255, 0.12);
  --theme-inactive: rgba(255, 255, 255, 0.33);
  --theme-border: #424242;
  --theme-cavity: rgba(0, 0, 0, 0.25);
  --theme-foreground: #ffffff;
  --palette-accent: #1b48c4;
  --palette-accent-text: #1faeff;
  --palette-secondary: #b000bf;
  --palette-secondary-text: #b000bf;
  --palette-warning: #da9d00;
  --palette-warning-text: #FFC940;
  --palette-warning-transparent: rgba(218, 157, 0, 0.16);
  --palette-success: #008f48;
  --palette-success-text: #008f48;
  --palette-disturbing: #c41b48;
  --palette-disturbing-text: #ff4f4f;
}
/* --- MIXINS --- */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.reset {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
}
.font-main {
  font-family: Lexend, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.font-title {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.font-mono {
  font-family: "JetBrains Mono", monospace;
}
.width-max {
  width: min(96vw, 70rem);
}
.width-content {
  width: min(96vw, 50rem);
}
.interactable-text {
  cursor: poiner;
}
.interactable-text:hover,
.interactable-text:focus {
  text-decoration: underline;
}
.interactable-text:focus {
  color: var(--palette-accent-text);
  outline: none;
}
.interactable-block {
  transition: 100ms background-color;
  cursor: pointer;
}
.interactable-block:hover,
.interactable-block:focus {
  background-color: var(--theme-hover);
}
.interactable-block:hover h1,
.interactable-block:focus h1,
.interactable-block:hover h2,
.interactable-block:focus h2,
.interactable-block:hover h3,
.interactable-block:focus h3,
.interactable-block:hover h4,
.interactable-block:focus h4 {
  text-decoration: underline;
}
.interactable-block:focus {
  outline: 2px solid var(--theme-foreground);
}
.bordered {
  border: 1px solid var(--theme-border);
}
/* --- GLOBAL --- */
html {
  width: 100%;
  height: 100%;
}
body {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  font-family: Lexend, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  font-weight: 300;
  min-height: 100vh;
  background-color: var(--theme-background);
  color: var(--theme-foreground);
}
body > header {
  display: flex;
  flex-direction: row;
  width: min(96vw, 70rem);
  align-items: center;
  gap: 2rem;
  font-weight: 400;
  padding: 0.5rem 0;
}
body > main {
  display: flex;
  flex-direction: column;
  width: min(96vw, 50rem);
  align-items: center;
  gap: 4rem;
}
body > main.wide {
  width: min(96vw, 70rem);
}
body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--theme-shade);
  padding: 4rem 2rem;
  gap: 4rem;
}
body > footer > div {
  width: min(96%, 50rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4rem;
  grid-auto-flow: row;
  grid-template-areas: "about community legal";
}
body > footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body > footer section a {
  cursor: poiner;
  color: inherit;
  text-decoration: none;
}
body > footer section a:hover,
body > footer section a:focus {
  text-decoration: underline;
}
body > footer section a:focus {
  color: var(--palette-accent-text);
  outline: none;
}
body > footer section a:focus {
  color: var(--palette-accent-text);
}
body > footer footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  text-align: center;
  gap: 0.5rem;
}
body > footer footer p {
  color: var(--theme-inactive);
}
h1,
h2,
h3,
h4 {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.75rem;
}
hr {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  flex: 1;
  min-height: 2px;
  max-height: 2px;
  background-color: var(--theme-hover);
}
hr.vertical {
  background-color: var(--theme-foreground);
  opacity: 0.33;
  min-width: 2px;
  max-width: 2px;
  min-height: 1rem;
  max-height: 1rem;
}
p {
  line-height: 1.25;
}
svg {
  min-width: 1rem;
  min-height: 1rem;
}
.flex {
  flex: 1;
}
.centered {
  text-align: center;
}
.rating-positive {
  color: var(--palette-success) !important;
}
.rating-negative {
  color: var(--palette-disturbing-text) !important;
}
.fill {
  margin: auto;
}
.grid-by-two,
.grid-by-three {
  display: grid;
  align-items: flex-start;
  gap: 1rem;
}
.grid-by-two {
  grid-template-columns: repeat(2, 1fr);
}
.grid-by-three {
  grid-template-columns: repeat(3, 1fr);
}
.items-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.banner {
  border-radius: 1rem;
}
img.logo {
  border-radius: 0.5rem;
}
em {
  font-style: normal;
  color: var(--theme-inactive);
  font-weight: 400;
}
em.note {
  font-size: 0.75rem;
}
.full-width {
  width: 100%;
}
dialog {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--theme-border);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 1rem;
  align-items: stretch;
  background-color: var(--theme-background);
  color: var(--theme-foreground);
  width: clamp(10rem, 32rem, 98vw);
}
dialog > header {
  display: flex;
  flex-direction: row;
  background-color: var(--theme-card);
  border-bottom: 1px solid var(--theme-border);
  padding: 0.5rem 1rem;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
}
dialog > section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
dialog > footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
#global-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--palette-warning-transparent);
  border-top: 2px solid var(--palette-warning);
  border-bottom: 2px solid var(--palette-warning);
  color: var(--palette-warning-text);
  font-weight: 400;
  margin-top: -4rem;
}
.a-hide-default {
  display: none;
}
@media only screen and (max-width: 74rem) {
  .a-hide-widescreen {
    display: none;
  }
  .a-show-widescreen {
    display: flex;
  }
  .w-menu[data-prefer="right"] {
    right: 1rem;
  }
  .w-menu[data-prefer="right"]::before {
    left: auto;
    right: 2rem;
    transform: inherit;
  }
  .l-with-sidebar {
    flex-direction: column;
    align-items: stretch;
  }
  .l-with-sidebar .c-tabs {
    width: 100%;
  }
  .l-with-sidebar aside {
    flex-direction: row;
    border-radius: 0 0 1rem 1rem !important;
    border: none !important;
  }
  .l-with-sidebar aside .w-button {
    flex-basis: 100%;
    justify-content: center;
  }
  .l-with-sidebar aside .w-button span {
    flex: 0;
  }
}
@media only screen and (max-width: 54rem) {
  .a-hide-landscape {
    display: none;
  }
  .a-show-landscape {
    display: initial;
  }
  .l-cards {
    grid-template-columns: auto;
  }
  .l-login {
    padding: 0;
  }
  .grid-by-three {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 44rem) {
  .a-hide-portrait {
    display: none;
  }
  .a-show-portrait {
    display: initial;
  }
  .l-cards {
    grid-template-columns: auto;
  }
  .grid-by-two {
    grid-template-columns: repeat(1, 1fr);
  }
  .l-row {
    flex-direction: column;
    align-items: flex-start;
  }
  body > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "empty logotype logotype account" "browse articles weld inbox" "search search search search";
  }
  body > footer > div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "about" "community" "legal";
  }
}
@media only screen and (max-width: 28rem) {
  .a-hide-min {
    display: none;
  }
  .a-show-min {
    display: initial;
  }
  .grid-by-three {
    grid-template-columns: repeat(1, 1fr);
  }
  body > header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logotype account" "browse articles" "weld inbox" "search search";
  }
  .pack-card .metadata {
    display: grid;
    grid-template-columns: 1rem auto;
  }
}
